.tabs {
	margin-bottom: 24px;
}

.tabs a {
	color: #00c;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 4px;
}

.tabs a:hover {
	color: #004;
}

/* ------ */
.tabs2 {
	margin-bottom: 24px;
}

.tabs2 a {
	color: #f20;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 4px;
}

.tabs2 a:hover {
	color: #710;
}

/* ------ */
form {
  
}

form div {
  margin-bottom: 4px;
}

form div label {
  display: inline-block;
  width: 160px;
}

form div.error {
  color: #c00;
}

table {
}

table thead td {
	border: 1px solid #aaa;
	padding: 2px 4px;
	background: #eee;
	color: #000;
}

table tbody td {
	border: 1px solid #aaa;
	padding: 2px 4px;
}

table tbody td a {
	color: #0ac;
	text-decoration: underline;
	margin: 0 4px;
	cursor: pointer;
}

table tbody td a:hover {
	color: #079;
}
